html{
    height: 100%;
} 
body{
    margin : 0px;
    padding : 0px;    
}

ul{
    list-style: none;
}
ul a{
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

.logo{
    width: 138px; 
    height : auto;
    -webkit-filter: invert(80%);
}
.top{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.header{
    display: flex;
    align-items: center;
    justify-content:space-around;        
    margin-top: 0;
    
}
.header-links{
    display: inline-flex;
    gap: 12px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: #1f2937;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 16px;
    justify-self : flex-end;
    margin-bottom: 0;
}
.left .main{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 0;
}
.left .secondary{
    font-size: 18px;
    color: #e5e7eB;
}
.left{
    padding: 24px;
    margin: 60px;
    justify-content: center;
    align-content: center;
    min-width: 200px;
    max-width: 400px;

}
.hero{
    display: flex;
    justify-content: center;
    padding-top: 0;
}
.hero img{
    width: 600px;
    height: 250px;
    -webkit-filter: invert(80%);

}
button{
    background-color: #3882f6;
    color: white;
    padding-left: 16px;
    padding-right :16px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 15%;
    font-weight: bold;
    margin: 0%;
    font-size: medium;
}
.info-header-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
li>div{
    height: 200px;
    width: 200px;
    border-width: 5px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 10%;
    
}
.content>ul{
    display: flex;
    gap: 50px;
    align-items: center; 
}
.test{
    font-size: 18px;
    text-decoration: none;
    color: #353638;
    display: flex;
    text-align: center;
}
li>p{
    max-width : 180px;
}
.test-li{
    text-align: center;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.quote_container{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 25px;
}
.quote_container>.quote{
    max-width: 800px;
    font-size: 34px;
    color: #48576b;
    text-align: center;
    font-style: light italic;
    margin-bottom: 0px;
}
.author{
    align-self: flex-end;
    font-size: 34px;
    margin-top: 5px;
    padding-right: 400px;

}